* {
  font-family: 'League Spartan', sans-serif;
  font-size: 32px;    
  font-weight: 700;
  margin: 0;
  padding: 0;
  box-sizing: border-box;        
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;        
}